*{
    margin: 0%;
    padding: 0%;
    border: none;
}

header {
    background-color: rgb(0, 0, 0);
    height:px;
}

header li {
    display: inline;
    text-align: center;
}

a:visited {
    color: rgb(207, 6, 6);
    
}

header a {
    font-size: 22px;
    vertical-align: text-bottom ;

}

header ul{
    text-align: center;
    padding-top: 22px;

}

img {
    width: 50px;
    height: 50px;
    position:unset;
    }