* {
    margin: 0;
    padding: 0;
}
    
body {
    background-color: #e0f7fa;
}

header {
    background-color: #6200ea;
    padding: 20px 0;
}

header li {
    display: inline;
    
}

ul {
    text-align: center;
}


a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius:  25px;
}

a:hover {
    background-color: #ffffff;
    color: #000;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 288px;
}

h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 2.5em;
    color: #6200ea;
}

footer {
    background-color: #f3e5f5;
    padding: 30px;

}

.imgrd{
    margin: auto;
    display: block;
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 

}
.lingugens2{
    justify-content: center;
    display: flex;
    background-color: #ffffff;
    padding:1px;
  color: #6200ea;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2{
    
    text-align: center;
    background-color: #6200ea;
    padding:1px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sobremin {
    justify-content: center;
    font-weight: bold;
    padding: 3px;
    display: flex;
    color: #6200ea;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icones {
    display: flex;
    justify-content: center; 
    gap: 10px;
  }
