*{
    margin: 0px;
    padding: 0px;
}


body{   
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url(./xue-xiao-nojiao-shi-kabegami-1920x1080_48.jpg);
}

li{
    text-align: center;
    list-style: none;
    text-decoration: none;
    align-items: center;
    margin: 100px;
}


a{
    border: solid 5px wheat;
    font-size: 20px;
    background-color: RGB(206, 134, 80);
    text-decoration: none;
    color: RGB(82, 102, 106);
    padding: 10px 20px;
    border-radius: 25px;
}
a:hover {
    background-image: url(./imagem.png);
    color: red;
    background-size: cover ;
    background-position: center;
}

.quadrado {
  margin: 500px auto; 
  width: 450px;  
  border-radius: 50px;
  background-image: url(./anime.gif);
  background-size: cover;
  background-position: center;
  border: solid 10px wheat;
}