.flexbox h2,p {
    text-align: center;
}

.flexbox p {
    font-size: 20px;
}

img {
    width: 400px;
    border: solid 1px;

}

.flexbox {
    border: solid 1px;
    font-display: flex;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly ;

}

.contente {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    padding: 20px;
    
}